.layout {
  /* display: inline-block; */
  display: flex;
}


.imgdiv {
  flex: 1;
  float: left;
  padding: 10px;
  /* width: 30%; */
}

.mdinfo {
  flex: 4;
  /* width: 20px; */

  float: right;
}

.center {
  text-align: center;
}

@media (max-width: 500px) {

  .center{
    font-size: 12px;
  }
  .dimg {
    width: 200px;
  }

  .mdinfo{
    font-size: 12px;
  }
}

@media( max-width: 400px){
  .center{
    font-size: 10px;
  }

  .dimg {
    width: 100px;
  }
}