body {
  font-family: Optima, sans-serif;
}

.square {
  width: 30%;
  height: width;
  border-radius: 0px 0px 0px 0px;
  border-style: none;
  border-width: 0 0 3px;
  padding: 10px 10px;
  background-color: white;
  font-family: Optima, sans-serif;
}

.holder {
  display: inline;
}

.img {
  width: 100%;
}

@media (max-width: 500px) {
  .mvd {
    font-size: 8pt;
    color: red;
  }
  .img {
    width: 80%;
  }
  .square {
    width: 50%;
    height: 300px;
    border-color: red;
    border-radius: 0px 0px 0px 0px;
    border-style: none;
    border-width: 0 0 3px;
    padding: 0px 0px;
   }
}

@media (min-width: 1000px) {
  .img {
    width: 80%;
  }
  .square {
    width: 25%;
    height: 500px;
    border-color: red;
    border-radius: 0px 0px 0px 0px;
    border-style: none;
    border-width: 0 0 3px;
    padding: 0px 0px;
   }
}